<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejemplo01.Properties.Settings.dbLabIIIConnectionString"
            connectionString="Data Source=PC-MARCELO\SVRSQL;Initial Catalog=dbLabIII;Persist Security Info=True;User ID=marcelo;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>